html {
	height: 100%;
	overflow-x: hidden;
}

body {
	padding: 0px;
	margin: 0px;
}

.wrapper > div {
	padding: 1em;
}

.wrapper {
	grid-template-columns: repeat(auto-fill, minmax(400px, auto));
	display: grid;
	/* grid-template-columns: 1fr 2fr 1fr; */
	grid-template-rows: minmax(auto, 3fr);
	/* grid-auto-rows: minmax(300px, auto); */
	/* align-items: stretch; */

	/* grid-column-gap: .5em; */
}

.test {
	margin-right: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-left: 0px;
}

#after-header-br {
	display: block;
	margin: 2em 0;
}

.wrapper img {
	border: 1px solid #ccc;
	box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
	max-width: 100%;
}
.hero {
	position: relative;
	background: url(https://live.staticflickr.com/65535/49094060877_4ed8806703_k.jpg) no-repeat center center fixed;
	/* overflow: visible; */
	background-size: cover;
	min-height: 60em;
	/* back-ground-attachment allows for the image to stay stationary
			while scrolling */
	/* background-attachment: fixed; */
}

.hidden {
	display: none;
}

#test2 {
	opacity: 0; /* make things invisible upon start */
	-webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;

	-webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;

	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;

	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
