/* set to 100% so the background image fills the entire HTML */

html {
	height: 100%;
}

/* hides the scroll bar on landing page */
html {
	overflow: hidden;
}
/* 
@media (max-width: 500px) {
	#test {
		margin-top: 24vh;
		margin-left: 24%;
		font-size: 0.8em;
	}
} */

/* controls position of intro card on landing page, along with <div id="intro-card" class="col-md-8 offset-md-2"> */
#intro-card {
	margin-top: 40%;

	opacity: 0; /* make things invisible upon start */
	-webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;

	-webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;

	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;

	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

/* old, first way I was controlling the intro card position(before bootstrap grid align) 
#test {
	margin-top: 50vh;
	margin-left: 45%;
	position: absolute;

	padding-top: 1vh;
	padding-left: 1vw;
	border-style: groove;
	border-radius: .5em;
	/width: 36vw;

	opacity: 0; /* make things invisible upon start */
/* -webkit-animation: fadeIn ease-in 1; call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
/* -moz-animation: fadeIn ease-in 1;
animation: fadeIn ease-in 1; */

/* -webkit-animation-fill-mode: forwards; this makes sure that after animation is done we remain at the last keyframe value (opacity: 1) */
/* -moz-animation-fill-mode: forwards;
animation-fill-mode: forwards;

-webkit-animation-duration: 1s;
-moz-animation-duration: 1s;
animation-duration: 1s;

-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s; 
} */
.wrapper {
	background-image: url("https://images.unsplash.com/photo-1578251123271-60214d50dcb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80");
	position: relative;
	background-size: cover;
	display: grid;
	grid-template-columns: auto;
}

.content {
	grid-column-start: 2;
	grid-column-end: 5;
}

.card {
	background-color: rgba(255, 255, 255, 0.87);
}

#button {
	background-color: rgba(50, 81, 87, 0.87);
}

.nav {
	margin-top: 0 !important;
	margin-bottom: 0 !important;

	padding: 0;
}

#bg {
	height: 100%;
	position: relative;
	/* position: relative; */
	/* background-position: center; */
	/* background-position: inherit; */
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-color: grey;
	/* This attachment setting allows the background image to stretch on mobile devices to prevent empty space. */
	background-attachment: fixed;

	background-size: cover;
	/* max-height: 100%; */
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
